.footer
 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(128, 128, 128, 0.199);
    color:black;
    text-align: center;
}
.para
{
    font-size: 20px;
    width: 600PX;
    text-align: center;
    margin-left: 400px;
    text-indent: 40px;
    margin-top: 30px;
    background-color: white;

}
.forum
{
    font-size: 20px;
    width: 600PX;
    text-align: left;
    margin-left: 400px;
    text-indent: 40px;
    margin-top: 30px; 
    background-color: white;
}
.edit
{
    border-radius: 20px;
 
    font-size: 20px;
   
    
    color:black;
    border-color:black;

}