.container
{
 background-color: rgba(5, 151, 151, 0.295);
 text-align: center;
 margin-left: 500px;
 margin-right: 500px;
 margin-top: 200px;
 width: 600px;
 height: 170px;
 padding: 3px;
 border-radius: 20px;
}


.labels
{
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    text-align: left;
    height: 20px;
    
}
input
{
    border: none;
    width: 300px;
}
.button
{
    margin-top: 15px;
    text-align: left;
    margin-left: 10px;
    
    
}
.click
{
    background-color: rgba(0, 0, 0, 0.678);
    color:white;
    border-radius:10px ;
    width: 60px;
    height: 25px;
}