.form
{
     margin-left: 50px;
     
    

}
.title
{
    font-size: 40px;
    font-style: bold;

}
label
{
    font-size: 30px;
    

}
select
{
    margin-bottom: 10px;
    margin-top: 10px;
 box-sizing: content-box;
 padding-right: 150px;
 font-size: 30px;
}
option
{
    font-size: 20px;
   
}
p
{
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
    font-size: 20px;

}
.submit
{
    box-sizing: content-box;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    border-radius: 20px;
    background-color: red;
    color:white;
}
